:root {
  --main-bg: #4c4c4c;
  --background-color: var(--main-bg);
  --text-color: #dedede;
  --container-bg: #464646;
  --box-shadow: #0002;
  --sliding-tab-bg: var(--main-bg);
  --sliding-tab-box-shadow: #0001;
  --para-bg: var(--main-bg);
  --footer-bg: var(--main-bg);
  --footer-icon-color: #979797;
  --border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", serif;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
ul,
ol,
li {
  list-style: none;
}
html,
body {
  min-height: 100%;
}

body {
  background-color: var(--background-color);
  padding: 1em;
  color: var(--text-color);
}

.container {
  width: 400px;
  background-color: var(--container-bg);
  box-shadow: 0 10px 15px var(--box-shadow);
  border-radius: var(--border-radius);
  margin: auto;
  overflow: hidden;
  position: relative;
  border: 1px solid #363636;
}

.menu-wrapper {
  display: flex;
  position: relative;
  z-index: 1;
}

.menu-wrapper .menu-item {
  flex-grow: 1;
  text-align: center;
  padding: 1em;
  z-index: 3;
  cursor: pointer;
}

.container .sliding-tab {
  position: absolute;
  width: calc(100% / 4);
  height: 100%;
  background-color: var(--sliding-tab-bg);
  transition: all 0.3s ease-out;
  z-index: 1;
  bottom: 0;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  box-shadow: 0 -8px 5px var(--sliding-tab-box-shadow);
  border: 1px solid #363636;
  border-bottom: none;
}

.menu-wrapper .menu-item.one.active ~ .sliding-tab {
  transform: translateX(0) scale(1.035);
}
.menu-wrapper .menu-item.two.active ~ .sliding-tab {
  transform: translateX(calc(calc(100% / 4) * 4.25)) scale(1.035);
}
.menu-wrapper .menu-item.three.active ~ .sliding-tab {
  transform: translateX(calc(calc(100% / 4) * 8.3)) scale(1.035);
}
.menu-wrapper .menu-item.four.active ~ .sliding-tab {
  transform: translateX(calc(300%)) scale(1.035);
}

.para {
  background-color: var(--para-bg);
  padding: 2em;
  line-height: 25px;
  transition: all 0.3s ease-out;
  display: none;
  border-top: 1px solid #363636;
  border-bottom: 1px solid #363636;
}
.para.active {
  display: block;
}

.para span {
  font-size: 1.2em;
  vertical-align: middle;
  padding-right: 8px;
}
.para h3 {
  margin-bottom: 0.8em;
}

.footer {
  background-color: var(--footer-bg);
  padding: 0.5em 2em 0.5em;
  direction: rtl;
}
.footer .material-symbols-outlined {
  font-size: 1.2em;
  vertical-align: middle;
  color: var(--footer-icon-color);
  cursor: pointer;
}

.footer span:not(.material-symbols-outlined) {
  margin-left: 10px;
}
