* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  min-height: 100%;
}
body {
  padding: 1em;
  background-image: url(img.jpg);
  background-repeat: repeat;
  background-size: 40%;
}

.container {
  padding: 1em;
  background-color: #f0f6f9;
  margin: auto;
  box-shadow: 0 3px 15px #0004;
  border-radius: 10px;
  width: fit-content;
  overflow: hidden;
}

.container h3 {
  width: fit-content;
  margin: 10px auto;
  color: #81653e;
}

/**********/
/* EMOJIS */
/**********/
.emoji-container {
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin: 2em auto;
}
.emoji-container img[alt="no rating"] {
  filter: saturate(0.1);
}

.emoji-container #emojistack {
  transition: transform 0.3s ease-out;
}

.emoji-container #emojistack.rate1 {
  transform: translateY(0);
}

.emoji-container #emojistack.rate1 {
  transform: translateY(-104px);
}
.emoji-container #emojistack.rate2 {
  transform: translateY(-208px);
}
.emoji-container #emojistack.rate3 {
  transform: translateY(-312px);
}
.emoji-container #emojistack.rate4 {
  transform: translateY(-416px);
}
.emoji-container #emojistack.rate5 {
  transform: translateY(-520px);
}
/* end EMOJIS */
/**************************/

/***************/
/* STAR RATING */
/***************/
form {
  display: flex;
  flex-direction: row-reverse;
  margin: 0 1em 1em;
}

form input {
  display: none;
}

form label {
  display: block;
  cursor: pointer;
  width: 40px;
  margin: 5px;
  filter: saturate(0.2);
}

form label img {
  transition: all 0.2s linear;
}

form label:hover > img,
form label:hover ~ label > img {
  filter: saturate(8);
  transform: scale(1.1);
}

form input:checked ~ label {
  filter: saturate(2);
}

/* end STAR RATING */
/**************************/
